<% content_for :include do %>
	<%= javascript_include_tag "server" %>
<% end%>
<% content_for :body do %>
	<!--[if gte IE 9 ]><link rel="stylesheet" type="text/css" href="_styles.css" media="screen"><![endif]-->

	<style>
		.rightdiv{
			/*background-color:red;*/
			float:left;
			width:65%;
			padding-left:40px;
		}
		.leftdiv{
			/*background-color:yellow;*/
			float:left;
			width:320px;
			padding-left:20px;
		}
	</style>

<style type="text/css">
    .CodeMirror {
		height: 500px;
	 }
	.panel-heading{
		height:60px;
	}

	.panel-title{
		font-size: 23px;
		font-weight: bold;
	}

	.btn{
		padding: 6px 12px;
	}
	.edited{
		background-image: url("assets/pencil.png");
		background-size: 15px;
		background-position: right 15px bottom 0px;
		background-repeat: no-repeat;
	}
	.alert{
		background-image: none;
		margin-bottom:0px;
	}

</style>

	<script>
		
		$(function(){

			init_tree("<%= listfile_root_path() %>");
			var te = document.getElementById("code");
			init_editor(te);
		});

	</script>	

<div class="container" style="margin-left:0px">
	<div class="leftdiv">
		<div class="panel panel-default" style="display: inline-block;">
			<div class="panel-heading">
				<h1 class="panel-title" style="float:left"> Directory </h1>
				<div class="btndiv" style="float:right">
					<button type="button" class="btn btn-warning btn-lg" id="createfile" data-toggle="modal" data-target="#modal2">
						<span> <img src=<%= asset_path "icon-createfile.png" %>></span>
					</button>
					<button type="button" class="btn btn-warning btn-lg" id="createfolder" data-toggle="modal" data-target="#modal">
						<span> <img src=<%= asset_path "icon-createfolder.png" %>></span>
					</button>
				</div>
			</div>
			<div class="panel-body roottree" style="padding: 10px 0px 0px 0px;">
				<ol class="tree" > </ol>
			</div>
		</div>
	</div>
	<div class="rightdiv">
		<div class="panel panel-default" style="display: inline-block;position: fixed;width: 760px;">
			<div class="panel-heading">
				<h1 class="panel-title" style="float:left"> Code </h1>
				<div class="btndiv" style="float:right">
					<button type="button" class="btn btn-danger btn-lg" id="savecode">
						<span> <img src=<%= asset_path "icon-save.png" %>></span>
					</button>
				</div>
			</div>
			<div class="panel-body" style="padding: 0px 0px 0px 0px;">
				<textarea id="code" name="code"></textarea>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="mylabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mylabel">Create Directory</h4>
      </div>
      <div class="modal-body">
      	  	<label class="sr-only" for="newdirectory"> new Directory</label>
				<input type="text" class="form-control" id="newdirectory" placeholder="enter your new directoory">
				<div style="margin-top: 20px;">
	        		<button type="button" class="btn btn-primary" id="createD">Create</button>
   	     		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="mylabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mylabel2">Create File</h4>
      </div>
      <div class="modal-body">
      	  	<label class="sr-only" for="newfile"> new File</label>
				<input type="text" class="form-control" id="newfile" placeholder="enter your new file">
				<div style="margin-top: 20px;">
	        		<button type="button" class="btn btn-primary" id="createF">Create</button>
   	     		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
      </div>
    </div>
  </div>
</div>

	<% end%>
